body{ padding: 0px;  margin: 0px; }


#task301-header{position: relative; top 50px;}

/*First container for header and main content area*/
#task301-one{
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    padding: 0px;
}


img{width: 160px; height: 160px;}


/*horizontal line*/
#task301-line{
    width: 250px; 
    height: 2px; 
    background-color: #322B21;
    border: none;
}

/*header*/
#task301-title{color: #322B21; font-weight: lighter;}

/*main content area*/
#task301-main{
    width: 100%;
    position: relative;
    top: 85px;
    height: 750px;
    margin-bottom: 70px;
    
}

/*These are all the container divs for all tasks*/
#task301-p1,#task301-p2 {width: 46%; float: left; }

/*Set up a margin*/
#task301-p1{  margin-right: 8%; }

/*Positioning*/
#task301-form{position: relative; top: 20px;}

#radius,#now{ 
    width: 90%; 
    margin-right: 5%;
    margin-left: 5%;
    height: 40px;  
    margin-bottom: 60px;
    position: relative;
    font-size: 120%;
    color: #BBBBBB;
}


#error1301,#year2,#age1301{ 
    width: 90%;  
    position: relative;
    top: -30px;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
}


#age1301,#age2301{color: #0c8cf2; font-weight: bolder;}
button{cursor: pointer;}
button:focus{ outline: none; }


.task301-label{
    position: relative;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: left;
    top: -10px;
    font-weight: bold;
}


#task301btn1,#task301btn2,#task301btn0{
    width: 29.5%;
    height: 60px;
    background-color: #0c8cf2;
    color: white;
    font-size: 110%;
    border: none;
    position: relative;
    top: 100px;
}


#task301btn3{ 
    width: 100%;
    height: 60px;
    background-color: #0c8cf2;
    color: white;
    font-size: 110%;
    border: none;
    position: relative;
    top: 104px;
}


/*Check boxes start from here*/
input[type=checkbox] { visibility: hidden; }


section h4{ text-align: left; position: relative; top: 15px;}


.checkboxThree1301{
	width: 120px;
	height: 40px;
	background: #333;
	margin: 20px 60px;
	border-radius: 0px;
	position: relative;
}


.checkboxThree1301:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #0c8cf2;
	font-size: 16px;
}


.checkboxThree1301:after{
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 84px;
	height: 2px;
	color: #111;
	font-size: 16px;
}


.checkboxThree1301 label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 0px;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.checkboxThree1301 input[type=checkbox]:checked + label {
	left: 60px;
	background: #0c8cf2;
}


/*checkbox 2 here*/
section h4{text-align: left;}


.checkboxThree2301{
	width: 120px;
	height: 40px;
	background: #333;
	margin: 20px 60px;
	border-radius: 0px;
	position: relative;
}


.checkboxThree2301:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #0c8cf2;
	font-size: 16px;
}


.checkboxThree2301:after{
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 84px;
	height: 2px;
	color: #111;
	font-size: 16px;
}


.checkboxThree2301 label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 0px;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.checkboxThree2301 input[type=checkbox]:checked + label {
	left: 60px;
	background: #0c8cf2;
}



/*Checkbox 3 here*/
section h4{text-align: left;}
.checkboxThree3301{
	width: 120px;
	height: 40px;
	background: #333;
	margin: 20px 60px;
	border-radius: 0px;
	position: relative;
}


.checkboxThree3301:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #0c8cf2;
	font-size: 16px;
}


.checkboxThree3301:after{
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 84px;
	height: 2px;
	color: #111;
	font-size: 16px;
}


.checkboxThree3301 label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 0px;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.checkboxThree3301 input[type=checkbox]:checked + label {
	left: 60px;
	background: #0c8cf2;
}

/**
 * checkbox ends here
 */


/*footer*/
#task301-footer{
    background-color: #322B21;
    width: 100%;
    height: 90px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/*Footer texts*/
#task301-copy p{ 
    position: relative;
    top: 30px;
    color:#BBBBBB;
}

#kootkot{color: white;}


/*When width less than or equal to 560px*/
@media screen and (max-width:560px) {
    #task301-p1,#task301-p2{ width: 100%;}
    #task301-p2{ position: relative; top: 130px; }
    
     #radius,#now,#task301-p2{ 
     margin-right: 5%;
     margin-left: 5%;
     width: 90%;
    }
    #task301-main{height: 1250px;}
    
    
   
}

/*When width greater than 560px and less than 900px*/
@media screen and (min-width:560px) and (max-width:900px)
{ 
    #task301-p1,#task301-p2{ 
        width: 90%; 
        margin-bottom: 130px;
        position: relative;
        left: 4%;
    }
    
     #task301-main{height: 1250px;}
}

/*When width greater than 560px and less than 1035px*/
@media screen and (min-width:560px) and (max-width:1035px)
{  
    #task301-copy{ width: 100%;  float: none; }
}

